<ion-header [translucent]="true">
  <ion-toolbar class="colorAzul">
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-item>
   <ion-label position="floating"> Ingrese correo electronico</ion-label>
   <ion-input placeholder="Ingrese correo electronico"></ion-input>

  <ion-label position="floating"> Nueva Contraseña</ion-label>
  <ion-input placeholder="Nueva Contraseña" type="password"></ion-input>

  <ion-label position="floating"> Confirma Nueva Contraseña</ion-label>
  <ion-input placeholder="Confirma Nueva Contraseña" type="password"></ion-input>

 </ion-item>

 <ion-button [routerLink]="['/login']" shape="block">Restablecer Contraseña</ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center"> <!-- Alinea verticalmente el contenido -->
      <ion-col size="6">
        <ion-title>ServiExpress</ion-title>
      </ion-col>
      <ion-col size="6" class="ion-text-right"> <!-- Aplica alineación a la derecha -->
        <ion-label>Stephania Lucero</ion-label>
        <ion-label>Isabella Silva</ion-label>
        <ion-label>Patricia Nieves</ion-label>
        <ion-label>Loreto Miño</ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>


