<ion-header [translucent]="true">
  <ion-toolbar class="colorAzul">
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-buttons slop="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>   
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
   <ion-label position="floating"> Ingrese correo electronico</ion-label>
   <ion-input placeholder="Ingrese correo electronico"></ion-input>

  <ion-label position="floating"> Nueva Contraseña</ion-label>
  <ion-input placeholder="Nueva Contraseña" type="password"></ion-input>

  <ion-label position="floating"> Confirma Nueva Contraseña</ion-label>
  <ion-input placeholder="Confirma Nueva Contraseña" type="password"></ion-input>

 </ion-item>

 <ion-button [routerLink]="['/login']" shape="block">Restablecer Contraseña</ion-button>

</ion-content>




