<ion-header [translucent]="true">
  <ion-toolbar class="colorAzul">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/imagenes/login.png"></ion-img>

  <ion-item>
    <ion-label position="floating"> Usuario</ion-label>
    <ion-input [(ngModel)]="formLogin.usuario" placeholder="Ingrese su usuario"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Contraseña</ion-label>
    <ion-input [(ngModel)]="formLogin.password" type="password" placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>
  
    <ion-button (click)="iniciarSesion()" shape="block">Iniciar sesion</ion-button>

    <ion-button [routerLink]="['/restablecer-password']" shape="block">Restablecer Contraseña</ion-button>

</ion-content>
