.colorAzul {
  --background: rgb(73, 73, 206);
  --color: white;
}

.logo-menu {
  width: 100px; /* Establece el ancho deseado */
  height: auto; /* Mantiene la proporción original de la imagen */
}


.centered-image {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}

/* Estilo para los nombres de los desarrolladores */
ion-footer ion-label {
  display: block;
  margin-top: 5px;
  /* Ajusta el margen superior según tus preferencias */
}

.centered-text {
  text-align: center;
}


.servicios-card img {

  max-height: 150px; /* Altura máxima deseada */
  width: auto; /* Ancho automático para mantener la proporción */
  margin: 0 auto; /* Centra horizontalmente la imagen */
}




.centered-card {
  width: 80%; /* Ajusta el ancho del mat-card según tus preferencias */
  margin: auto;
  margin-top: 30px;
}

.centered-header {
  text-align: center; /* Centra horizontalmente la imagen */
}

.centered-title {
  text-align: center; /* Centra horizontalmente el título */
}

.titulo{
  margin-top: 30px;
  text-align: center;
}