<ion-header [translucent]="true">
  <ion-toolbar class="colorAzul">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon style="color: white;">menu</mat-icon>
    </button>
    
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Nuestros Servicios</button>
      <button mat-menu-item>Nosotros</button>
      <button mat-menu-item>Reservar Hora</button>
      <div class="centered-image">
        <img src="assets/imagenes/logo.jpg" alt="Logo" class="logo-menu">
      </div>
    </mat-menu>

    <div class="centered-text">
      <p>{{mensaje}}</p>
    </div>
  </ion-toolbar>
  
</ion-header>



<ion-content class="centered-content">
  
  
  <ion-title class="titulo">Nuestros Servicios</ion-title>

  <div class="centered-card">
    <mat-card class="servicios-card">
      <mat-card-header class="centered-header">
        <img mat-card-image src="assets/imagenes/frenos.jpg" alt="">
      </mat-card-header>
    
      <mat-card-content class="centered-content">
        <mat-card-title class="centered-title">Frenos</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="centered-card">
    <mat-card class="servicios-card">
      <mat-card-header class="centered-header">
        <img mat-card-image src="assets/imagenes/aceite.jpg" alt="">
      </mat-card-header>
    
      <mat-card-content class="centered-content">
        <mat-card-title class="centered-title">Aceite</mat-card-title>
      </mat-card-content>
    </mat-card>
  </div>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center"> <!-- Alinea verticalmente el contenido -->
      <ion-col size="6">
        <ion-title>ServiExpress</ion-title>
      </ion-col>
      <ion-col size="6" class="ion-text-right"> <!-- Aplica alineación a la derecha -->
        <ion-label>Stephania Lucero</ion-label>
        <ion-label>Isabella Silva</ion-label>
        <ion-label>Patricia Nieves</ion-label>
        <ion-label>Loreto Miño</ion-label>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>